<div class="ui container">
  <div class="ui header">
    <h1>Memorizzz</h1>
  </div>
  <div class="ui divider">

  </div>
</div>
<%= react_component("Summary",
      orders: @orders,
      orders_count: @orders_count,
      customers: @unique_customers,
      average_revenue: @average_revenue.round(2).to_s(:delimited),
      unique_orders: @unique_orders,
      total_revenue: @total_revenue.to_s(:delimited),
      number_of_countries: @number_of_countries,
      number_of_tickets: @number_of_tickets,
      date_a: @date_a,
      date_b: @date_b,
      qone_rev: @qone_rev.to_s,
      qtwo_rev: @qtwo_rev.to_s,
      qthree_rev: @qthree_rev.to_s,
      qfour_rev: @four_rev.to_s
    )
%>
  <div class="ui divider">

  </div>
<%= react_component("Dataviz",
      orders: @orders,
      orders_count: @orders_count,
      customers: @unique_customers,
      average_revenue: @average_revenue.round(2).to_s(:delimited),
      unique_orders: @unique_orders,
      total_revenue: @total_revenue.to_s(:delimited),
      number_of_countries: @number_of_countries,
      number_of_tickets: @number_of_tickets,
      qone_rev: @qone_rev.to_s,
      qtwo_rev: @qtwo_rev.to_s,
      qthree_rev: @qthree_rev.to_s,
      qfour_rev: @four_rev.to_s
      )
%>

